In [ ]:
import pandas as pd
import requests, numpy, os, glob

In [2]:
api_key = 'STGTR7Y3P0EUXO6K'
response = requests.get('https://www.alphavantage.co/query?function=INFLATION_EXPECTATION&apikey=STGTR7Y3P0EUXO6K').json()
lsresponse = list(response)
lsresponse

['name', 'interval', 'unit', 'data']

In [3]:
empt = []   # example of dynamic memory allocation not static mem alloc.
for x in response['data']:
    empt.append(x)
df = pd.DataFrame(empt)
df = df.to_csv('inflation expectation data.csv')

In [4]:
os.chdir(r'C:\Users\kofij\Home\Desktop\project files')
extension = 'csv'
files = [x for x in glob.glob('*.{}'.format(extension))]
files

['inflation rate data.csv', 'merged.csv', 'Unemployment Rate US.csv']

In [5]:
super_merge_csv = pd.concat((pd.read_csv(x) for x in files), ignore_index=True)
super_merge_csv

,Unnamed: 0,date,value,COUNTRY (in alpha 2),DATE,INFLATION (value),UNEMPLOYMENT RATE (seasonally adjusted),Unemployment Rate (seasonally adjusted)
0,0.0,2020-01-01,1.233584,NaN,NaN,NaN,NaN,NaN
1,1.0,2019-01-01,1.812210,NaN,NaN,NaN,NaN,NaN
2,2.0,2018-01-01,2.442583,NaN,NaN,NaN,NaN,NaN
3,3.0,2017-01-01,2.130110,NaN,NaN,NaN,NaN,NaN
4,4.0,2016-01-01,1.261583,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
99,NaN,NaN,NaN,NaN,1/1/2017,NaN,NaN,4.358333
100,NaN,NaN,NaN,NaN,1/1/2018,NaN,NaN,3.891667
101,NaN,NaN,NaN,NaN,1/1/2019,NaN,NaN,3.675000
102,NaN,NaN,NaN,NaN,1/1/2020,NaN,NaN,8.091667
103,NaN,NaN,NaN,NaN,1/1/2021,NaN,NaN,5.358333

In [12]:
super_merge_csv.to_csv('super_merged.csv')